.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-black);
}
.home-container1 {
  width: 270px;
  height: 1002px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-container2 {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
}
.home-image {
  width: 190px;
  height: 246px;
  object-fit: cover;
}
.home-sidebar {
  width: 251px;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-nav-item {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-options {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-navlink {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-nav-item1 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text01 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-options1 {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-navlink2 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-nav-item2 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-text02 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.home-options2 {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-navlink4 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink5 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.home-nav-item3 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-options3 {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.home-navlink6 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-container3 {
  width: 43px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
}
.home-container4 {
  flex: 0 0 auto;
  width: 1651px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container5 {
  flex: 0 0 auto;
  width: 1651px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container6 {
  width: 1651px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-container7 {
  width: 100%;
  height: 39px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
}
.home-text03 {
  color: rgb(255, 255, 255);
  font-size: 65px;
}
.home-container8 {
  width: 100%;
  height: 39px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
}
.home-text04 {
  color: rgb(255, 255, 255);
  font-size: 17px;
}
@media(max-width: 1600px) {
  .home-container7 {
    width: 1325px;
  }
}
@media(max-width: 1200px) {
  .home-container {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--dl-color-gray-black);
  }
  .home-container1 {
    width: 276px;
    height: 1000px;
  }
  .home-container2 {
    width: 100%;
    height: 17px;
    border-style: hidden;
  }
  .home-image {
    width: 100%;
    height: 253px;
  }
  .home-sidebar {
    width: 264px;
    height: 454px;
  }
  .home-text {
    color: #FFFFFF;
  }
  .home-navlink {
    color: #FFFFFF;
  }
  .home-navlink1 {
    color: #FFFFFF;
  }
  .home-text01 {
    color: #FFFFFF;
  }
  .home-navlink2 {
    color: #FFFFFF;
  }
  .home-navlink3 {
    color: #FFFFFF;
  }
  .home-text02 {
    color: #FFFFFF;
  }
  .home-navlink4 {
    color: #FFFFFF;
  }
  .home-navlink5 {
    color: #FFFFFF;
  }
  .home-navlink6 {
    color: #FFFFFF;
  }
  .home-container7 {
    width: 937px;
  }
  .home-text04 {
    color: rgb(255, 255, 255);
    font-size: 20px;
  }
}
@media(max-width: 991px) {
  .home-container7 {
    width: 730px;
  }
}
@media(max-width: 767px) {
  .home-container7 {
    width: 490px;
  }
}
@media(max-width: 479px) {
  .home-container7 {
    width: 211px;
  }
}
