.mission-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-black);
}
.mission-container1 {
  width: 270px;
  height: 1002px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.mission-container2 {
  width: 100%;
  height: 25px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
}
.mission-image {
  width: 190px;
  height: 246px;
  object-fit: cover;
}
.mission-sidebar {
  width: 251px;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.mission-nav-item {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.mission-text {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.mission-options {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.mission-navlink {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.mission-navlink1 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.mission-nav-item1 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.mission-text01 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.mission-options1 {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.mission-navlink2 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.mission-navlink3 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.mission-nav-item2 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.mission-text02 {
  color: rgb(255, 255, 255);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.mission-options2 {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.mission-navlink4 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.mission-navlink5 {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.mission-nav-item3 {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.mission-options3 {
  display: flex;
  margin-left: var(--dl-space-space-unit);
  flex-direction: column;
}
.mission-navlink6 {
  color: rgb(255, 255, 255);
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.mission-container3 {
  width: 43px;
  height: 100px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
}
.mission-container4 {
  flex: 0 0 auto;
  width: 1651px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mission-container5 {
  flex: 0 0 auto;
  width: 1651px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mission-container6 {
  width: 1651px;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.mission-container7 {
  width: 100%;
  height: 39px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
  flex-direction: column;
}
.mission-text03 {
  color: rgb(255, 255, 255);
  font-size: 65px;
}
.mission-container8 {
  width: 100%;
  height: 39px;
  display: flex;
  align-items: flex-start;
  border-color: rgba(120, 120, 120, 0.4);
  border-style: hidden;
  border-width: 2px;
}
.mission-text04 {
  font-size: 20px;
}
.mission-text05 {
  color: #ffffff;
}
.mission-text07 {
  color: #ffffff;
}
.mission-text09 {
  color: #ffffff;
}
.mission-text11 {
  color: #ffffff;
}
.mission-text13 {
  color: #ffffff;
}
.mission-text17 {
  color: #ffffff;
}
.mission-text19 {
  color: #ffffff;
}
.mission-text20 {
  color: #1b59bf;
  text-decoration: underline;
}
.mission-text21 {
  color: #ffffff;
}
@media(max-width: 1600px) {
  .mission-container7 {
    width: 1325px;
  }
  .mission-text04 {
    font-size: 20px;
  }
  .mission-text05 {
    color: #ffffff;
  }
  .mission-text07 {
    color: #ffffff;
  }
  .mission-text09 {
    color: #ffffff;
  }
  .mission-text11 {
    color: #ffffff;
  }
  .mission-text13 {
    color: #ffffff;
  }
  .mission-text17 {
    color: #ffffff;
  }
  .mission-text19 {
    color: #ffffff;
  }
  .mission-text20 {
    color: #5177cb;
    text-decoration: underline;
  }
  .mission-text21 {
    color: #ffffff;
  }
}
@media(max-width: 1200px) {
  .mission-container {
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--dl-color-gray-black);
  }
  .mission-container1 {
    width: 276px;
    height: 1000px;
  }
  .mission-container2 {
    width: 100%;
    height: 17px;
    border-style: hidden;
  }
  .mission-image {
    width: 100%;
    height: 253px;
  }
  .mission-sidebar {
    width: 264px;
    height: 454px;
  }
  .mission-text {
    color: #FFFFFF;
  }
  .mission-navlink {
    color: #FFFFFF;
  }
  .mission-navlink1 {
    color: #FFFFFF;
  }
  .mission-text01 {
    color: #FFFFFF;
  }
  .mission-navlink2 {
    color: #FFFFFF;
  }
  .mission-navlink3 {
    color: #FFFFFF;
  }
  .mission-text02 {
    color: #FFFFFF;
  }
  .mission-navlink4 {
    color: #FFFFFF;
  }
  .mission-navlink5 {
    color: #FFFFFF;
  }
  .mission-navlink6 {
    color: #FFFFFF;
  }
  .mission-container7 {
    width: 937px;
  }
  .mission-text04 {
    font-size: 20px;
  }
  .mission-text05 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text06 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text07 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text08 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text09 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text10 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text11 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text12 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text13 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text14 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text15 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text16 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text17 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text18 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text19 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text20 {
    color: #1b59bf;
    font-size: 17px;
    text-decoration: underline;
  }
  .mission-text21 {
    color: #ffffff;
    font-size: 17px;
  }
  .mission-text22 {
    color: #ffffff;
  }
}
@media(max-width: 991px) {
  .mission-container7 {
    width: 730px;
  }
}
@media(max-width: 767px) {
  .mission-container7 {
    width: 490px;
  }
}
@media(max-width: 479px) {
  .mission-container7 {
    width: 211px;
  }
}
